*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    
    background-color: white
    
}
#wa{
   background-color: white;
   height: 100%;
   width: 100%;
   padding: 10px;
   overflow: hidden;
 
}
#parent{
    height: 100%;
    width: 100%;
    background-color: rgb(250, 232, 179);
    border-radius: 35px;   
    margin: 25px;
    margin-right: 25px; 
    display: flex;
    justify-content: space-between;
    
 
    
    
}
#child{
    height: 100%;
    width: 60%;
    background-color: rgb(252, 198, 12);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    
   
}
h4{
    font-size: 20px;
    margin-left: 30px;
    word-spacing: 10px;
}
h1{
    font-size: 200px;
    margin: 20px;
    font-weight: 900;
}
b{
    margin-left: 90px;
    word-spacing: 10px;
    line-height: 1.6;
    
}
#pi{
    height: 900px;
    width: 700px;
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#logo{
    margin-left: 25px;
}
 i{

    font-size: 30px;
    font-weight: 500;
    padding-right: 30px;
    padding-top: 100px;    
}
